<div id="fader"></div>
<footer class="fixed-bottom">
    <div class="current-track pl-5 pr-5">

        <div class="current-track__actions">

            <a class="ion-ios-skipbackward amplitude-prev" amplitude-playlist="spotlite"></a>

            <a class="ion-ios-play play button amplitude-play-pause amplitude-paused" amplitude-playlist-main-play-pause="true" amplitude-playlist="spotlite"></a>

            <a class="ion-ios-skipforward amplitude-next" amplitude-playlist="spotlite"></a>

            <a class="ion-shuffle"></a>

        </div>

        <div class="current-track__progress">

            <div id="time" class="current-track__progress__start"><span class="amplitude-current-time" amplitude-main-current-time="true"></span>
            </div>

            <progress id="song-played-progress" class="amplitude-song-played-progress" amplitude-main-song-played-progress="true"></progress>


        </div>

        <div class="current-track__options">

            <span class="controls">

                <input type="range" class="amplitude-volume-slider"/>

            </span>

            <a href="#" class="lyrics">Lyrics</a>

        </div>

    </div>
</footer>