{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/spotify.css' %}">
    <title>Spotlite</title>
    <script src="{% static 'base_spotlite/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'base_spotlite/js/amplitude.js' %}"></script>
</head>

<body>
     
    {% include 'base_spotlite/navbar.html' %}
    <div id="content">
        {% block body %}{% endblock %}
    </div>
    {% include 'base_spotlite/player.html' %}
    <script src="{% static 'base_spotlite/js/jquery.history.js' %}"></script>
    <script src="{% static 'base_spotlite/js/popper.min.js' %}"></script>
    <script src="{% static 'base_spotlite/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base_spotlite/js/spotify.js' %}"></script>
    <script src="{% static 'base_spotlite/js/scripts.js' %}"></script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>



    <script>
            var playCount = 0;
            Amplitude.init({
            "songs": [

                  {% if songs %}

                        {% for song_ in songs %}

                              {% if song_.id != song.id %}
                                    
                                    {
                                          "name": "{{song_.title}}",
                                          "artist": "{{song_.album.artist.name}}",
                                          "album": "{{song_.album.title}}",
                                          "url": "{{song_.mp3url}}",
                                          "cover_art_url": "{{song_.album.artist.photo}}"
                                    },
                                    
                              {% endif %}
                        {% endfor %}
                  {% endif %}
                  {% if histories %}

                        {% for history in histories %}

                                    {
                                          "name": "{{history.song.title}}",
                                          "artist": "{{history.song.album.artist.name}}",
                                          "album": "{{history.song.album.title}}",
                                          "url": "{{history.song.mp3url}}",
                                          "cover_art_url": "{{history.song.album.artist.photo}}"
                                    },
                                    
                        {% endfor %}

                  {% endif %}
            ],
            "playlists": {
                  "spotlite": [
                  {% if songs %}
                        {% for song in songs %}{{ forloop.counter0 }},{% endfor %}
                  {% endif %}
                  {% if histories %}
                        {% for history in histories %}{{ forloop.counter0 }},{% endfor %}
                  {% endif %}
                  ]
            }
            });
          </script>

</body>

</html>