<nav class="navbar navbar-expand-lg navbar-inverse">
    <div class="container">
        <a class="navbar-brand" href="#">SPOTLITE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link my-2 my-sm-0" href="#">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Timeline
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-user-circle"></i> {{request.session.firstname}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'app_spotlite:profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'app_spotlite:settings' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'auth_spotlite:logout'%}">Sign out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success my-2 my-sm-0" href="#"><i class="fa fa-user"></i> Join</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="#" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" name="html_query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>