<footer class="fixed-bottom">
        
        <div id="player" class="current-track pl-5 pr-5">
        
              <div class="current-track__actions">
              
                <a href="#" class="control amplitude-prev" amplitude-playlist="spotlite">
                    <i class="ion-ios-skipbackward"></i>
                </a>

                <a href="#" class="control play button amplitude-play-pause amplitude-paused" amplitude-playlist-main-play-pause="true" amplitude-playlist="spotlite">
                    <i class="ion-ios-play"></i>
                </a>

                <a href="#" class="control amplitude-next" amplitude-playlist="spotlite">
                    <i class="ion-ios-skipforward"></i>
                </a>

                <a href="#" class="control devices amplitude-shuffle" amplitude-playlist="spotlite">
                    <i class="ion-shuffle"></i>
                </a>

                <a href="#" class="control amplitude-repeat amplitude-repeat-song">
                    <i class="ion-refresh"></i>
                </a>
                
              </div>
              
              <div class="current-track__progress">
              
                <div class="current-track__progress__start">
                    <span class="amplitude-current-time" amplitude-main-current-time="true"></span>
                </div>
                
                <div class="current-track__progress__bar">
                  
                    <progress id="song-played-progress" class="amplitude-song-played-progress" amplitude-main-song-played-progress="true"></progress>
                  
                </div>
                
                <div class="current-track__progress__finish">
                    <span class="amplitude-duration-time" amplitude-main-duration-time="true"></span>
                </div>
                
              </div>
              
              <div class="current-track__options">
              
                <span class="controls">
                  
                    <a href="#" class="control volume">
                        
                        <input type="range" class="amplitude-volume-slider"/>
                        
                    </a>
                
                  <a href="#" class="control devices">
                    <i class="ion-navicon"></i>
                    <span>Playlist</span>
                  </a>
                  
                  <a href="#" class="control devices">
                    <i class="ion-iphone"></i>
                    <span>Lyrics</span>
                  </a>
                  
                </span>
                
              </div>
              
            </div>
      </footer>