{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_spotlite/css/style.css' %}">
    <title>Spotlite</title>
    <style>
        body,
        h1 {
            font-family: "Raleway", sans-serif
        }

        body,
        html {
            height: 100%
        }

        .bgimg {
            background-image: url('{% static "base_spotlite/img/bg1.jpg" %}');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>

    {% block body %}
    {% endblock %}


    <script src="{% static 'auth_spotlite/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'auth_spotlite/js/bootstrap.min.js' %}"></script>
</body>

</html>