{% block body %}
<div class="w3-display-container w3-animate-opacity w3-text-white" style="background-image: url('{{img_url}}');
min-height: 100%;background-position: center;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-sm-12 reg-table">
                <form method='POST' action='{% url "auth_spotlite:authenticate" action="login" %}'>
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <h1>Spotlite</h1>
                    </div>
                    <div class="form-group row">
                        <input type="email" class="form-control col-12" name="html_email" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group row">
                        <input type="password" class="form-control col-12" name="html_password" placeholder="Password">
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-success col-12">Login</button>
                    </div>
                    <div class="form-group row justify-content-center">
                        <p>Or
                            <a href="{% url 'auth_spotlite:register' %}">register</a> a new account.</p>
                    </div>
                </form>
            </div>
        </div>
        {% include 'auth_spotlite/errors.html' %}
    </div>
</div>
{% endblock %}