<div class="content__right">
    <div class="social">
        <div class="friends">
        {% for history in histories %}
        <a href="{% url 'app_spotlite:song' song_id=history.song_id %}" class="friend">
            <i class="ion-android-person"></i>
            <p>{{ history.user.firstname }}</p>
            <small>playing
                <b>{{ history.song.title }}</b>
            </small>
        </a>
        {% endfor %}
        <h4 class="text-white">{{request.session.firstname}}'s Friends</h4>
        {% for friend in friends %}
        <div class="text-white">
            <a href="{% url 'app_spotlite:profile' user_id=friend.following.id%}"><p>{{ friend.following.firstname }} {{ friend.following.surname }}</p></a>
        </div>
        {% endfor %}
        </div>
        <!-- <button class="button-light">Find Friends</button> -->
    </div>
    <section class="playing">

            <div class="playing__art">
      
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/cputh.jpg" alt="Album Art">
      
            </div>
      
            <div class="playing__song">
      
                    {{request.session.firstname}}'s Friends
      
            </div>
      
          </section>
    <div class="overview__related">

            
            <div class="related-artists">
            
              <a href="#" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/hoodie.jpg" alt="Hoodie Allen">
                  
                </span>
                
                <span class="related-artist__name">Hoodie Allen</span>
                
              </a>
              
              <a href="#" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/mikestud.jpg" alt="Mike Stud">
                  
                </span>
                
                <span class="related-artist__name">Mike Stud</span>
                
              </a>
              
              <a href="#" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/drake.jpeg" alt="Drake">
                  
                </span>
                
                <span class="related-artist__name">Drake</span>
                
              </a>
              
              <a href="#" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/jcole.jpg" alt="J. Cole">
                  
                </span>
                
                <span class="related-artist__name">J. Cole</span>
                
              </a>
              
              <a href="#" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/bigsean.jpg" alt="Big Sean">
                  
                </span>
                
                <span class="related-artist__name">Big Sean</span>
                
              </a>
              
              <a href="#" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/wiz.jpeg" alt="Wiz Khalifa">
                  
                </span>
                
                <span class="related-artist__name">Wiz Khalifa</span>
                
              </a>
              
              <a href="#" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/yonas.jpg" alt="Yonas">
                  
                </span>
                
                <span class="related-artist__name">Yonas</span>
                
              </a>
              
            </div>

          </div>
</div>