<div class="content__right">
    <section class="playlist">
  
        <span class="no-load">
  
          Friend Activities
  
        </span>
  
      </section>
        {% for history in histories %}
        <section class="playing">

          <div class="playing__art">
    
            <img src="{{ history.user.profilepic }}" alt="Album Art">
    
          </div>
    
          <div class="playing__song">
    
            <a href="{% url 'app_spotlite:song' song_id=history.song_id %}" class="playing__song__name" style="font-size:11px">{{ history.user.firstname }} playing {{ history.song.title }}</a>
    
          </div>
    
        </section>
        {% endfor %}

    <div class="overview__related">

            
            <div class="related-artists">

                {% for friend in friends %}
            
              <a href="{% url 'app_spotlite:profile' user_id=friend.following.id %}" class="related-artist">
              
                <span class="related-artist__img">
                
                  <img src="{{ friend.following.profilepic }}" alt="Hoodie Allen">
                  
                </span>
                
                <span class="related-artist__name">{{ friend.following.firstname }} {{ friend.following.surname }}</span>
                
              </a>

              {% endfor %}
              
            </div>

          </div>
</div>