<div class="content__left">
    <section class="navigation">
  
        <!-- Main -->
        <div class="navigation__list">

          <div class="navigation__list__header" 
               role="button" 
               data-toggle="collapse" 
               href="#main" 
               aria-expanded="true" 
               aria-controls="main">
            Main
          </div>
          
          <div class="in" id="main">
          
            <!-- <a href="#" class="navigation__list__item">
              <i class="ion-ios-browsers"></i>
              <span>Browse</span>
            </a> -->

            <a href="{% url 'app_spotlite:my_history' %}" class="no-load navigation__list__item">
              <i class="ion-person-stalker"></i>
              <span>History</span>
            </a>
            
          </div>

        </div>
        <!-- / -->

        <!-- Your Music -->
        <div class="navigation__list">

          <div class="navigation__list__header" 
               role="button" 
               data-toggle="collapse" 
               href="#yourMusic" 
               aria-expanded="true" 
               aria-controls="yourMusic">
            Your Music
          </div>
          
          <div class="in" id="yourMusic">
          
            <a href="{% url 'app_spotlite:my_musics' active='Songs' %}" class="no-load navigation__list__item">
              <i class="ion-headphone"></i>
              <span>Like Songs</span>
            </a>

            <a href="{% url 'app_spotlite:my_musics' active='Albums' %}" class="no-load navigation__list__item">
              <i class="ion-ios-musical-notes"></i>
              <span>Albums</span>
            </a>

            <a href="{% url 'app_spotlite:my_musics' active='Artists' %}" class="no-load navigation__list__item">
              <i class="ion-person"></i>
              <span>Artists</span>
            </a>
            
          </div>

        </div>
        <!-- / -->

        <!-- Playlists -->
        <div class="navigation__list">

          <div class="navigation__list__header" 
               role="button" 
               data-toggle="collapse" 
               href="#playlists" 
               aria-expanded="true" 
               aria-controls="playlists">
            Playlists
          </div>
          
          <div class="in" id="playlists">
          
              {% for editor in editors %}
              <a href="{% url 'app_spotlite:items_in_playlist' playlist_id=editor.playlist_id %}" class="no-load navigation__list__item">
                <i class="ion-ios-musical-notes"></i>
                <span>{{ editor.playlist.title }}</span>
              </a>
              {% endfor %}          
          </div>

        </div>
        <!-- / -->

      </section>

      <section class="playlist">
  
        <a class="no-load" href="{% url 'app_spotlite:playlists_editor' %}">
  
          <i class="ion-ios-plus-outline"></i>
  
          New Playlist
  
        </a>
  
      </section>
</div>