{% extends 'base_spotlite/index.html' %} {% block body %}

<p>&nbsp;</p><p>&nbsp;</p>
<div class="container mt-5 text-white">

    <div class="row">
        <h2 class="mb-4">Edit Playlist</h2>
            <div class="row form-control ml-1">
                <form action="{% url 'app_spotlite:edit_playlist' playlist_id=playlist.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="destination" value="{{ destination }}" />
                  <div class="form-group">
                      <label for="name">Title</label>
                      <input type="text" class="form-control" name="html_title" value="{{ playlist.title }}" id="name" placeholder="Title">
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
              </form>                
            </div>                    
    </div>
</div>
{% endblock %}