{% extends 'user/base.html' %}

{% block body %}
    {% load static %}
    
    {% if owner %}
        {% if owner.id == request.session.user_id %}
            <h2 class="mb-4">My Playlists:</h2>

            <div class="row form-control border-success ml-1">
                <form action="{% url 'myface:my_playlists' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
  
                  <div class="form-group">
                      <label for="name">Picture</label>
                      <input type="file" name="playlist">
                  </div>
                  <div class="form-group">
                      <label for="name">Title</label>
                      <input type="text" class="form-control" name="html_title" id="name" placeholder="Title">
                  </div>
                  <button type="submit" class="btn btn-primary">Upload</button>
              </form>                
            </div>

        {% else %}
        <h2 class="mb-4">{{ owner.name }}'s Playlists:</h2>
        {% endif %}
    {% elif query %}
    <h2 class="mb-4">Search for: {{ query }}</h2>
    {% else %}
        <h2 class="mb-4">All Playlists</h2>
    {% endif %}

    <p>&nbsp;</p>
    <div class="row">
        {% for playlist in playlists %}
        <div class="col col-4 mb-4">
            <div class="card">
                <img src="{{ playlist.path }}" style="height: 200px; width: auto!important;" />
                
                <div class="px-3 py-3">
                    <h5 class="card-title">{{ playlist.title }}</h5>
                </div>
                <div class="card-footer">
                    <small>Created at {{ playlist.created_at }}</small>
                    {% if request.session.user_id == playlist.user_id %}
                    <br />
                    <small><a href="{% url 'myface:delete_playlist' playlist_id=playlist.id %}">delete</a></small>
                    {% endif %}
                </div>                         
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}