{% extends "base_spotlite/index.html" %}
{% block body %}
  <section class="content" style="margin-top: 60px;">
  
    {% include 'app_spotlite/content_left.html' %}
    
    <div class="content__middle">
    
      <div class="artist is-verified">
      
        <div class="artist__header" style="background-image: url('{{user.profilebackground}}');">
        
          <div class="artist__info mb-5">
          
            <div class="profile__img">
            
              <img src="{{user.profilepic}}" class="profile-picture" alt="User Picture" />
              
            </div>
            
            <div class="artist__info__meta">
            
              <div class="artist__info__type text-white">
                {% if user.premium == 0 %}
                <b>USER</b>
                {% else %}
                <b>PREMIUM USER</b>
                {% endif %}
              </div>
              
              <div class="artist__info__name">{{user.firstname}} {{user.surname}}</div>
              
              <div class="artist__info__actions">
                

                  {% if user.id != request.session.user_id %}
                      {% if is_friend %}
                        <button class="button-dark"><a class="text-white" href="{% url 'app_spotlite:delete_as_friend' following_id=user.id %}">Unfollow</a></button>
                      {% else %}
                        <button class="button-dark"><a class="text-white" href="{% url 'app_spotlite:add_as_friend' following_id=user.id %}">Follow</a></button>
                      {% endif %}
                  {% endif %}


<!-- 
                  {% if user.id == request.session.user_id %}
                  <p>&nbsp;</p>
                  {% else %}
                  <button class="button-dark">
                      <a href="{% url 'app_spotlite:add_as_friend' following_id=user.id %}">Follow</a>
                    </button>
                    {% for follow in following %}
                      {% if follow.following.id in followers %}
                      <button class="button-dark">
                        <a href="{% url 'app_spotlite:delete_as_friend' following_id=user.id %}">Unfollow</a>
                      </button>
                      {% endif %}
                    {% endfor %}
                 {% endif %} -->
                
              </div>
              
            </div>
            
          </div>
          
        </div>
        
        <div class="artist__content">
        
            <div class="tab-content">
                
            
          </div>
          
        </div>
        
      </div>
      
    </div>
    
    {% include 'app_spotlite/content_right.html' %}
    
  </section>
  
  {% endblock %}