{% extends "base_spotlite/index.html" %}
{% block body %}
  <section class="content" style="margin-top: 60px;">
  
    {% include 'app_spotlite/content_left.html' %}
    
    <div class="content__middle">
    
      <div class="artist is-verified">
      
        <div class="artist__header" style="background-image: url('{{img_url}}');">
        
          <div class="artist__info mb-5">
          
            <div class="profile__img">
            
              <img src="{{artist.photo}}" class="profile-picture" alt="{{artist.name}}" />
              
            </div>
            
            <div class="artist__info__meta">
            
              <div class="artist__info__type">artist</div>
              
              <div class="artist__info__name">{{artist.name}}</div>
              
              <div class="artist__info__actions">
                
                <button class="button-light">Follow</button>
                
              </div>
              
            </div>
            
          </div>
          
        </div>
        
        <div class="artist__content">
        
            <div class="tab-content">
                
          </div>
          
        </div>
        
      </div>
      
    </div>
    
    {% include 'app_spotlite/content_right.html' %}
    
  </section>
  
  {% endblock %}