{% extends "base_spotlite/index.html" %}
{% block body %}
  <section class="content" style="margin-top: 60px;">

    {% include 'app_spotlite/content_left.html' %}
    
        <div class="content__middle pl-3">
        
          <div class="artist is-verified">
          
            <div class="artist__header">
            
              <div class="artist__info">
              
                <div class="profile__img">
                
                  <img src="{{ song.album.artist.photo }}" alt="G-Eazy" />
                  
                </div>
                
                <div class="artist__info__meta">
                
                  <div class="artist__info__type">Artist: {{ song.album.artist.name }}</div>
                  
                  <div class="artist__info__name">{{ song.title }}</div>
                  
                  <div class="artist__info__actions">
                    
                    <button class="button-light ajax_like">
                        <i class="ion-ios-heart"></i>
                        
                          {% if like %}
                            <span>Unlike</span>
                          {% else %}
                            <span>Like</span>
                          {% endif %}
                        
                    </button>
                    
                  </div>
                  
                </div>
                
                
              </div>

              <script>
                  $('.ajax_like').click(function(){
                    tx = $(this).find('span')
                    
                    if (tx.html() == 'Like'){
                      url = "{% url 'app_spotlite:like_a_song' song_id=song.id %}";
                        $.get(url, function( data ) {
                          tx.html('Unlike');
                        });
                    }else{
                      url = "{% url 'app_spotlite:unlike_a_song' song_id=song.id %}";
                        $.get(url, function( data ) {
                          tx.html('Like');
                        });                      
                    }
                  });
                  
                  
                  var playCount = 0;
                        Amplitude.init({
                        "songs": [
                              {
                                    "name": "{{song.title}}",
                                    "artist": "{{song.album.artist.name}}",
                                    "album": "{{song.album.title}}",
                                    "url": "{{song.mp3url}}",
                                    "cover_art_url": "{{song.album.artist.photo}}"
                              },
                        ],
                        "playlists": {
                              "spotlite": [
                              0
                              ]
                        }
                        });
              </script>              
              
              <div class="artist__listeners">
              
                <div class="artist__listeners__count"></div>
                
                <div class="artist__listeners__label"></div>
                
              </div>
              
              <div class="artist__navigation">
              
                <ul class="nav nav-tabs" role="tablist">
                  
                  <li role="presentation" class="active">
                    <a href="#artist-overview" aria-controls="artist-overview" role="tab" data-toggle="tab">Overview</a>
                  </li>
                  
                  <li role="presentation">
                    <a href="#related-artists" aria-controls="related-artists" role="tab" data-toggle="tab">Related Artists</a>
                  </li>
                  
                  <!--<li role="presentation">
                    <a href="#artist-about" aria-controls="artist-about" role="tab" data-toggle="tab">About</a>
                  </li>-->
                  
                </ul>
                
                <div class="artist__navigation__friends">
                
                  <p>&nbsp;</p>
                  
                </div>
                
              </div>
              
            </div>
            
            <div class="artist__content">
            
              <div class="tab-content">
            
                <!-- Overview -->
                <div role="tabpanel" class="tab-pane active" id="artist-overview">
                  
                  <div class="overview">
                  
                    <div class="overview__artist">
      
                      <!-- Popular-->
                      <div class="section-title">Popular</div>
      
                      {% include 'app_spotlite/songs.html' %}
      
                      <!-- <button class="show-more button-light">Show 5 More</button> -->
                      <!-- / -->
                    
                    </div>
                  
                    <div class="overview__related">
      
                      <div class="section-title">Related Artists</div>
                      
                      <div class="related-artists">
                      
                        {% for artist in artists %}
                        <a href="{% url 'app_spotlite:song_by_artist' artist_id=artist.id %}" class="related-artist">
                        
                          <span class="related-artist__img">
                          
                            <img src="{{ artist.photo }}" alt="{{ artist.name }}" />
                            
                          </span>
                          
                          <span class="related-artist__name">{{ artist.name }}</span>
                          
                        </a>
                        {% endfor %}
                      </div>
      
                    </div>
                    
                  </div>
                
                </div>
                <!-- / -->
      
                <!-- Related Artists -->
                <div role="tabpanel" class="tab-pane" id="related-artists">
                  
                    
                    <div class="media-cards">
                          {% for song in related_artist %}
                          <div class="media-card">
                          
                            <div class="media-card__image" style="background-image: url({{ song.artist.photo }});">
                            
                              <i class="ion-ios-play"></i>
                              
                            </div>
                            
                            <a class="media-card__footer">{{ song.artist.name }}</a>
                            
                          </div> 
                          {% endfor %}                   
                    </div>
                    
                
                </div>
                <!-- / -->
      
                <!-- About // Coming Soon-->
                  <!--<div role="tabpanel" class="tab-pane" id="artist-about">About</div>-->
                <!-- / -->
      
              </div>
              
            </div>
            
          </div>
          
        </div>

    {% include 'app_spotlite/content_right.html' %}
    
  </section>
  
  {% endblock %}