{% extends 'base_spotlite/index.html' %} {% block body %}

<p>&nbsp;</p><p>&nbsp;</p>
<div class="container mt-5 text-white">

    <div class="row">
        <div class="col-xs-12">   
            <h1>Songs</h1>
            <p>&nbsp;</p>

            <table class="data-table table table-striped table-bordered col-12" width="100%">
                <thead>
                    <tr>
                        <th style="width: 500px;">Title</th>
                        <th width="300">Created</th>
                        <th width="140">Action</th>
                    </tr>
                </thead>
                <tbody>                    

                    {% for song in songs %}
                    <tr>
                        <td><a href="{% url 'app_spotlite:song' song_id=song.id %}"><h5 class="card-title">{{ song.title }}</h5></a></td>
                        <td>{{ song.created_at }}</td>
                        <td><a href="{% url 'app_spotlite:song' song_id=song.id %}">detail</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}