    <div class="tracks">
        <div class="tracks__heading">
        <div class="tracks__heading__number">#</div>
        <div class="tracks__heading__added"></div>
        <div class="tracks__heading__title">Title</div>
        <div class="tracks__heading__length">
              <i class="ion-ios-stopwatch-outline"></i>
        </div>
        <div class="tracks__heading__popularity">
              <i class="ion-thumbsup"></i>
        </div>
        </div>
        {% for song in songs %}
        <div class="track">
        <div class="track__number">{{ forloop.counter }}</div>
        <div class="track__popularity">
                  <a class="amplitude-play" amplitude-song-index="{{ forloop.counter0 }}" amplitude-playlist="spotlite"><i class="ion-play playNow" data-songId="{{ song.id }}"></i></a>
      </div>
        <div class="track__added">
              <div class="dropdown">
              <a class="btn btn-link ion-plus not-added" href="#" role="button" id="dropdown_not_added" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown_not_added">
                    {% for editor in editors %}
                    <a class="dropdown-item add2playlist" href="#" data-href="{% url 'app_spotlite:add_to_playlist_step2' song_id=song.id playlist_id=editor.playlist_id %}">{{ editor.playlist.title }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="no-load dropdown-item" href="{% url 'app_spotlite:playlists_editor' %}">Create playlist</a>
              </div>
              </div>
        </div>
        <div class="track__title" style="position: relative;"><a class="no-load" href="{% url 'app_spotlite:song' song_id=song.id %}">{{song.title}}</a> <span class="add2playlist_loading">wait..</span></div>
        
        <div class="track__popularity">
              <i class="ion-arrow-graph-up-right"></i>
        </div>
        </div>
        {% endfor %}
    </div>

<style>
      .add2playlist_loading{
            position: absolute;
            color: green;
            margin-left: 20px;
            display: none;
      }
</style>

<script>
      $('a.add2playlist').click(function(){
            url = $(this).attr('data-href'); 
            // $('.add2playlist_loading').show();
            // $(this).closest('.track__title').find('.add2playlist_loading').show();
            $.get(url, function( data ) {
                  alert('successfull add to this playlist')
            // $(this).closest('.track__title').find('.add2playlist_loading').hide();
            // alert(1);
            });
      });
      
</script>
<script>
      $('.playNow').click(function(){
            song_id = $(this).attr("data-songId");
            url = "/song/"+ song_id +"/add2history";
            $.get(url, function( data ) {                  
            });
      });  
</script>